.App {
    text-align: center;
    min-height: 100vh;
    position: relative;
    @apply pt-5;
}

.logo {
    background-image: url(./images/LOGO.png);
    @apply h-12 mx-auto max-w-xs bg-cover bg-center;
}

.App>.text {
    @apply text-gray-500 text-5xl text-center font-semibold tracking-widest;
}

.App>small {
    @apply mt-5 block;
}

.App>small>a {
    color: #E4004D;
}

form,
.resultList {
    @apply max-w-xs mx-auto;
}

form input {
    outline: none;
    letter-spacing: 40px;
    font-family: Helvetica;
    border: 3px solid #e6b7c6;
    @apply w-full my-6 text-9xl;
}

form input:focus {
    border-color: #E4004D;
    background-color: #f5e5ea;
}

form button {
    color: #fff;
    background-color: #E4004D;
    @apply text-4xl block w-full py-2 font-semibold opacity-50;
}

.result {
    @apply text-3xl text-center mt-5;
}

.result img {
    @apply mx-auto;
}

.result .title {
    color: #E4004D;
    @apply font-semibold;
}

.footer {
    bottom: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    transform: translateY(-10px);
}

.footer a {
    color: #E4004D;
}

.footer .author {
    @apply text-sm;
}